[submodule "ekumen-tourism-tracker-backend"]
	path = ekumen-tourism-tracker-backend
	url = https://github.com/jueltter/ekumen-tourism-tracker-backend.git
[submodule "ekumen-tourism-tracker-prototype-client"]
	path = ekumen-tourism-tracker-prototype-client
	url = git@github.com:jueltter/ekumen-tourism-tracker-prototype-client.git
[submodule "ekumen-tourism-tracker-eureka-server"]
	path = ekumen-tourism-tracker-eureka-server
	url = git@github.com:jueltter/ekumen-tourism-tracker-eureka-server.git
[submodule "ekumen-tourism-tracker-api-gateway"]
	path = ekumen-tourism-tracker-api-gateway
	url = git@github.com:jueltter/ekumen-tourism-tracker-api-gateway.git
